.markdown-preview-view table {
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* text {
  font-size: 19px !important;
} */

mjx-math {
  font-size: 19px !important;
}

.markdown-reading-view .markdown-preview-view :is(h1, h2, h3, h4, h5, h6) {
  line-height: 0em !important;
  /* padding: 10px 0px px 0px !important; */
  margin: 30px 0px 30px 0px !important;
}


/* .markdown-preview-view h1 {
  margin-block-start: 2.5em;
} */

.cm-s-obsidian div.HyperMD-header {
  line-height: 1.5em !important;

  /* padding-top: 2em !important;  */
}
  
  